---
layout: default
---
<div class="home">
<header class="jumbo jumbo--bhg">
    <div class="container container-small">
        <div class="jumbo-text">
            <h4>Better Homes and Gardens</h4> 
            <h1>Editors' Choice 2015 Innovation Products List<h1>
        </div>
    </div>
</header>
<div class="container container-small">
    <article class="post">
    
    <div class="card">
    	<div class="card-inner">
    	<h2>{{ page.title }}</h2>
    	{{ content }}
		<img src="{{ page.image }}" alt="" class="card-img center-block img-bhg">
    	<h5 class="text-center green">2015 BGH TECH Editors' Choice</h5>
        </div>

    </div>
    
        
    </article>
</div>
</div>

