---
layout: default
---
<div class="home">
    <div class="container container-wide container-cover">
        <div class="card card--cover">
            <div style="background:linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 59%,rgba(0,0,0,0.65) 100%), url('{{page.cover}}') no-repeat center center;height:240px;">
                <div class="card-inner">
                    <div class="grid cover-grid">
                        <div class="col-">
                            <img src="{{page.image}}" alt="{{page.title}}" class="cover-profile-img">
                        </div>
                        <div class="col-">
                            <div class="cover-info">
                                <h1 class="cover-title">{{ page.title }}</h1>
                                 <small><a href="{{page.website}}" class=""><span class="glyphicon glyphicon-link"></span> Website   </a></small><small><br>
                               <span class="glyphicon glyphicon-map-marker"></span> {{page.location}}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-inner">
                                <hr class=""  style="margin-top:60px">
                                 <h2>About</h2> {{content}}
                             <hr style="margin:20px 0;">
                             <h2>Categories</h2>
                    <ul class="tagList list-inline">
                        {% for tag in page.tags %}
                        <li><a href="/tag/{{ tag }}" class="label label-default"><small>{{ tag}}</small></a>
                        </li>
                        {% endfor %}
                    </ul>

            </div>
        </div>
    </div>

</div>


