---
layout: default
---
<header class="jumbo jumbo--trends">
    <div class="container container-small">
        <div class="jumbo-text">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</header>
<div class="container container-small">
    <article class="post">
        {{ content }}
    </article>

    <!-- Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button> -->
                    <h4 class="modal-title" id="myModalLabel">Enter your info to continue</h4>
                </div>
                <div class="modal-body">
                    <form id="foo" class="form-horizontal">
                        <fieldset>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="first">First Name</label>
                                <div class="col-xs-8">
                                    <input id="first" name="first" type="text" placeholder="John" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="last">Last Name</label>
                                <div class="col-xs-8">
                                    <input id="last" name="last" type="text" placeholder="Appleseed" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="title">Title</label>
                                <div class="col-xs-8">
                                    <input id="title" name="title" type="text" placeholder="CEO" class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="company">Company</label>
                                <div class="col-xs-8">
                                    <input id="company" name="company" type="text" placeholder="Acme Inc." class="form-control input-md" required="">

                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-xs-4 control-label" for="email">Email</label>
                                <div class="col-xs-8">
                                    <input id="email" name="email" type="text" placeholder="john@acme.com" class="form-control input-md" required="">

                                </div>
                            </div>
                            <div class="modal-footer">
                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-xs-4 control-label" for=""></label>
                                    <div class="col-xs-8">
                                        <input type="submit" value="Submit" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
