.trend img{
    width:100%;
    margin:0 auto;
    padding:20px 0;
}
.trend section{
	margin:40px 0;
}
.jumbo-inner{
	width:100%;
	height:300px;
	background-color: $grayDark;
	margin:40px 0;
	text-shadow: 0;
	h1.hero{
		color:#fff;
	}
	&.jumbo--tablet{
		background-color:$gray;
	}
	&.jumbo--tv{
		background-color:$blue;
	}
	&.jumbo--gaming{
    	background-color: $gray;
	}
	&.jumbo--autos{
    	background-color: $darkBlue;
	}
	&.jumbo--smart{
    	background-color: $darkBlue;
	}
}