.btn-primary{
    background-color: transparent;
    color:$gray;
    border:none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
     border-radius: 0;
     padding-left:0;
    &:hover{
        background-color: darken($blue,5%);
    }
}
.btn-fb{
    display: block;
    margin:20px 0;
    background: #fff;
     border-radius: 3px;
     
    .btn-group{
        width:100%;
        border: 1px solid;
        border-color: #e9eaed #dfe0e4 #d0d1d5;
        border-radius: 3px;

    }
    .btn{
        border:0;
    }
    .btn-half{
        width: 50%;
        position: relative;
        border-radius: 3px;
        &:first-child{
            border-right: 1px solid #e9eaed;
        }
    
    }
}