.jumbo {
        position: relative;
        // height: 400px;
        // background-color: #1f242a;
        
        &-text{
             max-width: 640px;
            // text-align: center;
            padding:80px 0;
            // left: 50%;
            // margin-right: -50%;
            // transform: translate(-50%, -50%);
            text-shadow: rgba(0, 0, 0, .5) 0 0 10px;
            h1 {
                color: #fff;
                // color:$blue;
            }
            h4{
                color:#999;

            }
            p{
                color:$darkBlue;
                color:#eaeaea;
                line-height: 32px;
                font-size: 20px;
            }
        }
    }

.jumbo--trends,
.jumbo--tours,
.jumbo--home{
   background-color: $darkBlue;
}
.jumbo--bhg{
    background:url("/img/bg--bhg.png") no-repeat center left;
    background-size: cover;
}
.jumbo--post{
    margin:0 auto;
    height:280px;
    width:100%;
    max-width:770px;
    background-size: cover;
}
.jumbo--gaming{
    background-color: $darkBlue;
}
.jumbo--autos{
    background-color: $darkBlue;
}
.jumbo--smart{
    background-color: $darkBlue;
}
