---
layout: default
title: Better Homes and Gardens Editors' Choice 2015 Innovation Products List
---
<div class="home">
    <header class="jumbo jumbo--bhg">
        <div class="container container-wide">
            <div class="jumbo-text">
                <h4>Better Homes and Gardens</h4> 
                <h1>Editors' Choice 2015 Innovation Products List<h1>
                <p>Technology for technology's sake? Not for us. To be of benefit, a technology needs to solve common problems, save energy and money, and help us be efficient with our time. Because many home products are longer-term purchases, an innovation should have value and newness, but also popularity so as to avoid being a flash in the pan. Oh, and it should be well styled, too. The products on our Editors' Choice list meet those criteria while remaining simple to use and easy to incorporate into our daily routines.</p>
            </div>
        </div>
    </header>
    <div class="container container-wide">
    {% for post in site.posts %}
    		{% if post.category == "bhg" %}
            <article class="card">
                    <div class="card-inner">
                        <p class="lead text-center text-muted">BHG Editors' Pick</p>
                        <hr>
                        <div class="grid">
                            <div class="col-1-3">
                                <img src="/img/blank.gif" data-src="{{ post.image }}" class="lazy card-img img-responsive" alt="{{post.image-alt}}">
                            </div>
                            <div class="col-2-3">
                                <h2>{{ post.title }}</h2>
                                <p>
                                {{ post.content }}
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
    		{% endif%}
    {% endfor %}
    </div>
</div>