--- 
layout: default 
title: Shelly Palmer Featured Exhibits
---
<div class="home">
    <header class="jumbo jumbo--trends">
         <div class="container container-wide">
            <div class="jumbo-text">
                <h4>Shelly Palmer</h4>
                <h1 class="hero">Featured Exhibits</h1>
                <p>A collection of must-see products and services selected by senior tour guides.</p>
            </div>
        </div>
    </header>
    <div class="container container-wide">     
                <!-- <section class="cardList">
                {% for post in site.posts %}
                {% if post.category != "trend" and post.category !="bhg"  %}
                <article class="card">
                    <div class="card-inner">
                        <div class="grid">
                            <div class="col-1-3">
                                <img src="/img/blank.gif" data-src="{{ post.image }}" class="lazy card-img img-responsive" alt="{{post.image-alt}}">
                            </div>
                            <div class="col-2-3">
                                <h2>{{ post.title }}</h2>
                                <p>
                                {{ post.content | strip_html | truncatewords:20 }}
                                </p>
                                 <a class="btn btn-primary btn-md" href="{{post.url}}">Read More</a>
                            </div>
                        </div>
                    </div>
                </article>

                {% endif %}
                {% endfor %}
                </section> -->
                <div class="card">
                    <div class="card-inner">
                {% for post in site.posts %}
                {% if post.category != "trend" and post.category !="bhg"  %}
                
                        <div class="media">
                            <a class="media-left media-top" href="{{post.url}}">
                                <img src="/img/blank.gif" data-src="{{ post.image }}" class="lazy img-feed" alt="{{post.image-alt}}" style="border:1px solid rgba(0,0,0,0.15);" width="80" height="80">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{post.title}}</h4>
                                <p>{{ post.content | strip_html | truncatewords:20 }}</p>
                                <a class="btn btn-primary btn-sm" href="{{post.url}}">Read More</a>
                            </div>
                        </div>
                        <hr>
                    
                {% endif %}
                {% endfor %}
                 </div>
                </div>
        </div>
</div>
