---
layout: default
title: Shelly Palmer 2015 CE Trend Report
---
<div class="home">
    <header class="jumbo jumbo--trends">
             <div class="container container-wide">
                <div class="jumbo-text">
                    <h4>Shelly Palmer</h4>
                    <h1 class="hero">2015 Consumer Electronics Trend Report</h1>
                    <p>Featuring special sections by Better Homes & Gardens and Magisto</p>
                </div>
            </div>
        </header>
    <div class="container container-wide">
    <div class="card card--first">
        <div class="card-inner">
            <h3>We offer a brief overview of the consumer electronics trends that will have the biggest impact on consumer behavior in the near-term.</h3>
            <p>This year, Consumer Electronics tell a story of Connectivity, Data, Security, Privacy, Access vs. Ownership, changes in media consumption and the emerging On-Demand economy.  The Internet of Things (IoT) is part of every conversation as so many consumer electronics technologies are purpose-built to help us live more connected lives.  In this report we'll look at how processing power will impact consumer experiences, take a trip to the future of manufacturing, spend some time learning about virtual reality, wearables, connected health and wellness, sports and fitness and much, much more.
            </p>
            </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <div class="grid">
                <div class="col-1-3">
                    <div class="stat">
                        <p class="stat-num">3,200</p>
                        <p class="stat-text">exhbitors at CES</p>
                    </div>
                </div>
                <div class="col-1-3">
                    <div class="stat">
                        <p class="stat-num">4</p>
                        <p class="stat-text">billion people connected to the Internet in 2020</p>
                    </div>
                </div>
                <div class="col-1-3">
                    <div class="stat">
                        <p class="stat-num">50</p>
                        <p class="stat-text">billion connected devices by 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <h3>Moore's Law</h3>
            <hr class="hr-small">
            <blockquote>“The number of transistors on integrated circuits doubles approximately every two years.”</blockquote>
            <p>This isn’t accurate, it’s more like one year, and the rate of change is accelerating. But it does speak to the idea of exponential growth.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <h3>Metcalfe's Law</h3>
            <hr class="hr-small">
            <blockquote>“The value of a telecommunications network is proportional to the square of the number of connected users of the system (n<sup>2</sup>).”</blockquote>
            <p>The math here is debatable too, but it is very obvious that the value of a network increases with the addition of each additional user, the only question is, by how much?</p>
        </div>
    </div>
    <div class="card">
        <div class="card-inner">
            <h3>The Law of Accelerating Returns</h3>
            <hr class="hr-small">
            <blockquote>“The rate of change in a wide variety of evolutionary systems tends to increase exponentially.”</blockquote>
            <p>This is the least obvious of the three laws, but understanding the exponential rate of technological progress is critical to understanding how consumer behavior is likely to evolve in, what will now feel like, a very short time period.</p>
        </div>
    </div>

<div class="card">
    <div class="card-inner">
        <h2>What does this all mean to you?</h2>
        <p>Today is the slowest rate of technological change you will ever experience in your life. The more people are connected, the more powerful the network becomes.</p>
        <p>So let’s get started, just click next below and we’ll dive into the Shelly Palmer 2015 Consumer Electronics Trend Report.</p>
    </div>
</div>




    {% for post in site.posts %}
    		{% if post.category == "trend" %}
            <div class="card">
                <div class="card-inner">
                    <h2 class="">{{post.title}}</h2>
                    <p class="card-subtitle" >{{post.subtitle}}</p>
                    <a class="btn btn-primary btn-md" href="{{post.url}}">Read More</a>

                </div>
            </div>
    		{% endif%}
    {% endfor %}
    <p class="text-center">Special Sections</p>
        <div class="card">
            <div class="card-inner">
                <h2>Editors' Picks</h2>
                <p class="card-subtitle">by Better Homes & Gardens</p>
                <a href="/bhg" class="btn btn-primary btn-md">Read More</a>
            </div>
        </div>
        <div class="card">
            <div class="card-inner">
                <h2 class="">User Generated Content</h2>
                <p class="card-subtitle">
                by Magisto 
                </p>
                <a href="/magisto" class="btn btn-primary btn-md">Read More</a>
            </div>
        </div>
    </div>
</div>