---
layout: default
title: Trend Report
---
<div class="home">
    <header class="jumbo">
             <div class="container container-small">
                <div class="jumbo-text">
                    <h1 class="hero">2015 CE Trend Report</h1>
                </div>
            </div>
        </header>
    <div class="container container-small">
    {% for post in site.posts %}
    		{% if post.category == "trend" %}
            <div class="card">
                <div class="card-inner">
                    <h2 class=""><a href="{{post.url}}">{{post.title}}</a></h2>
                </div>
            </div>
    		{% endif%}
    {% endfor %}
    </div>
</div>