<footer class="footer">
    <div class="container container-small text-center">
        <a href="http://shellypalmer.com/subscribe" class="footer-subscribe btn btn-primary btn-lg" target="_blank">Subscribe to our daily email</a>
        <div class="footer-links">
            <ul class="list-inline">
                <li><a href="http://www.facebook.com/532509594"><i id="social" class="fa fa-facebook fa-2x social-fb"></i></a>
                </li>
                <li><a href="https://twitter.com/shellypalmer"><i id="social" class="fa fa-twitter fa-2x social-tw"></i></a>
                </li>
                <li><a href="https://plus.google.com/106494736215466748651"><i id="social" class="fa fa-google-plus fa-2x social-gp"></i></a>
                </li>
                <li><a href="http://www.linkedin.com/in/shellypalmer"><i id="social" class="fa fa-linkedin fa-2x social-li"></i></a>
                </li>
                <li><a href="http://soundcloud.com/shellypalmer"><i id="social" class="fa fa-soundcloud fa-2x social-sc"></i></a>
                </li>
                <li><a href="mailto:info@shellypalmer.com"><i id="social" class="fa fa-envelope fa-2x social-em"></i></a>
                </li>
            </ul>
        </div>
        <p style="color:#fff;margin-bottom:20px;">For more info, please visit <a href="http://shellypalmer.com">www.shellypalmer.com</a></p>
        <p class="text-muted">Landmark|ShellyPalmer, 475 Park Avenue South, 25th Floor, New York, NY, 10016, +1 (212) 532-3880 info@shellypalmer.com</p>
        <p class="text-muted">Palmer Advanced Media © 2014</p>
    </div>

</footer>
