<!--  <div class="metabar">
    <div class="siteNav-logo"><a href="/">ShellyPalmer</a>
    </div>
    <div class="siteNav-search"><img class="searchicon" src="/img/search.svg" alt="search icon">
    </div>
</div>
<div class="navTabs--metabar">
    <nav class="navTabs">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul class="navTabs-list list-inline">
                        <li class="navTabs-item"><a href="/" class="navTabs-anchor">Home</a>
                        </li>
                        <li class="navTabs-item"><a href="/tours" class="navTabs-anchor">Floor Tours</a>
                        </li>
                        <li class="navTabs-item"><a href="/events" class="navTabs-anchor">Exclusive Events</a>
                        </li>
                        <li class="navTabs-item"><a href="/trendreport2/" class="navTabs-anchor">CE Trend Report</a>
                        </li>
                        <li class="navTabs-item"><a href="/featured/" class="navTabs-anchor">featured</a>
                        </li>
                        <li class="navTabs-item"><a href="/tag/LVCC%20South%20Hall/" class="navTabs-anchor">LVCC South Hall</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div> -->