@import "normalize";
@import "stylesheets/bootstrap";
$green: #57ad68;
$sans: "RobotoDraft","Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$fontHeadings: "RobotoDraft","Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$serif: "RobotoDraft","Helvetica Neue";
$black: rgba(0,0,0,0.8);
$gray: #454B55;
$grayLight:#9197a3;
$grayLighter:#bdc1c9;
$blue:#5088f7;
$darkBlue:#141924;
*,body,html{
    -webkit-font-smoothing: antialiased;
    font-smoothing:antialiased;
}

body {
    padding-top: 50px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    font-family:$sans;
    color: $darkBlue;
    // margin-bottom: 60px;
}
h1,h2,h3,h4,h5,h6{
    margin:20px 0;
    padding: 0;
    font-weight:400;
}
h1{
    font-size:3em;
    color: $blue;
}
h2{
    font-size: 2em;
    color: $blue;
}
h3{
    font-size: 1.5em;
    color:$blue;
}
h4{
    font-size: 1.25em;
    text-transform: uppercase;
}
p, ul, ol{
    color: $gray;
}
a{
    color:$blue;
}
blockquote{
    font-weight:200;
    line-height: 1.2em;
    color:$darkBlue;
}

.container {
    &-wide{
        max-width: 800px;
    }
    &-full{
        width:100%;
        max-width: none;
        margin:0;
        padding:0;
    }
    &-small{
        max-width:640px;
    }
}
.home{
    background-color: #eee;
    height:100%;
    min-height:900px;
    width:100%;
}



.icon{
    &.icon-lg{
        font-size:40px;
        line-height: 99px;
        height:100px;
        width:100px;
        margin:0 auto;
        padding: 0;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 50%;
        i{
            text-align: center;
            margin: 0 auto;
        }
    }
}
.inline-i{
    margin-right: 5px;
}







article.panelPost{
        width:100%;
    }
@media screen and (min-width: 480px){
    article.panelPost{
        width:240px;
    }
    

}

// Components
@import "components/jumbo";
@import "components/card";
@import "components/cover";
@import "components/heroWidget";
@import "components/navBar";
@import "components/button";
@import "components/footer";
@import "components/grid";



// Pages
@import "pages/post";
@import "pages/trends";




.miframe{
    width: 100%;
    min-height: 215px;
}
.green{
    color: $green;  
}
.lazy {
  opacity: 0;
  transition: opacity .3s ease-in;
} 
