*,body,html{
    -webkit-font-smoothing: antialiased;
    font-smoothing:antialiased;
}

body {
    padding-top: 50px;
    font-size: 17px;
    width: 100%;
    margin: 0;
    font-family: "Helvetica Neue";
    // margin-bottom: 60px;
}
footer {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.container {
    max-width:990px;
    &-wide{
        max-width: 900px;
    }
    &-full{
        width:100%;
        max-width: none;
        margin:0;
        padding:0;
    }
    &-singleColumn{
        max-width:640px;
    }
}
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.card .card-image {
    position: relative;
    overflow: hidden;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {
    padding: 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 48px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}
.card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.card .card-action a:hover {
    color: #ffd8a6;
    text-decoration: none;
}
.siteNav-logo {
    display: block;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 39px;
    height: 39px;
    margin: 0;
    padding: 0;
    z-index: 700;
    font-weight: 900;
    font-size: 30px;
    // background-color: rgba(0, 0, 0, .3);
    text-align: center;
    border: 0;
    opacity: 1;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}
.siteNav-search {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 24px;
    height: auto;
    margin: 0;
    padding: 0;
    z-index: 700;
    text-align: center;
    border: 0;
    opacity: 1;
    -webkit-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}
.searchicon{
    height:auto;
    width:24px;
}
.navTabs--metabar {
    display: block;
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0;
    padding: 0;
}
.navTabs.is-hidden {
    display: none;
}
.navTabs-item {
    display: inline-block;
    margin-right: 4px;
    padding: 0;
}
.navTabs-item:last-child {
    margin-right: 0;
}
.navTabs {
    // padding-left: 15px;
    // padding-right: 15px;
    margin: 0 auto;
    width: auto;
    white-space: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.navTabs::-webkit-scrollbar {
    display: none;
}
.navTabs-anchor {
    letter-spacing: -0.02em;
    font-style: normal;
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    // margin-top: -5px;
}
.navTabs-anchor:focus {
    outline: 0;
}
.navTabs--metabar .navTabs-item .navTabs-anchor {
    
    padding-top: 14px;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0;
   
}
.navTabs--metabar .navTabs-item.is-active .navTabs-anchor {
    color: rgba(0, 0, 0, 0.8);  
    font-weight: 700;
    border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
}
.navTabs-list {
    margin-bottom: 0px;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
@media screen and (min-width: 900px) {
    .navTabs--metabar {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0 auto;
        border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .navTabs {
        // margin-top:5px;
        position: absolute;
        display: inline-block;
        top: 0px;
        left: 0px;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
        background-color: rgba(255, 255, 255, 0.9);
    }
    .navTabs-list {
        // padding-left: 300px;
    }
    .navTabs--metabar .navTabs-item.is-active .navTabs-anchor {
        font-weight: 700;
        color: rgba(0, 0, 0, 0.8);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 2px rgba(0, 0, 0, 0.8) solid;
    }
}
.post {
    margin:0 auto;
    padding-top: 20px;
    word-wrap: break-word;
    // a {
    //     text-decoration: underline;
    //     color: inherit;
    // }
    p, ul, ol {
        font-size: 16px;
        line-height: 1.625em;
    }
    &-img{
        margin-bottom: 20px;
        border: 1px solid rgba(0,0,0,0.1);
    }
}
.trends {
    header {
        &.intro {
            height: 25vh;
            background-color: #222;
            color: #fff;
            padding:0;
            margin:0;
        }
        hgroup {
            padding: 50px;
        }
    }
    section{
        padding:40px 0 40px 0;
    }
}
.textInput{
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0 15px;
    height: 35px;
    width: 55%;
    font-size: 14px;
    outline: none;
    background: #fff;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 400;
    font-style: normal;
    &--jumbo{
    font-size: 50px;
    height: 70px;
    padding: 0;
    width: 100%;
    font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    }
    &--borderless{
        border: 0;
    }

}
.navbar-default{
    background-color: rgba(255,255,255,0.95);
}
.navbar-default .navbar-nav>li>a,
.dropdown-menu>li>a,
.dropdown-header{
    font-size: 11px;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: normal;
}
.dropdown-header{
    color: rgba(0,0,0,0.4);
}
.navbar-default .navbar-nav>li>a,
.dropdown-menu>li>a,{
    color:rgba(0,0,0,0.6);
    &:hover{
          color:rgba(0,0,0,0.8);
    }
}
.dropdown-menu{
    border:none;
    border-radius:2px;

}

.navbar-default .navbar-brand {
    color:rgba(0,0,0,0.8);
    font-weight:bold;
}