@import "stylesheets/bootstrap";
$green: #57ad68;
$sans: "RobotoDraft","Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$fontHeadings: "RobotoDraft","Helvetica Neue", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$serif: "RobotoDraft","Helvetica Neue";
$black: rgba(0,0,0,0.8);
$grayDark: #4e5665;
$gray:#6a7180;
$grayLight:#9197a3;
$grayLighter:#bdc1c9;
$blue:#5088f7;
$darkBlue:#141924;
*,body,html{
    -webkit-font-smoothing: antialiased;
    font-smoothing:antialiased;
}

body {
    padding-top: 50px;
    font-size: 16px;
    width: 100%;
    margin: 0;
    font-family:$sans;
    color: $darkBlue;
    // margin-bottom: 60px;
}
h1,h2,h3,h4,h5,h6{
    font-weight:400;
}
h1{
    // padding:40px 0 20px 0;
    font-size:3em;
    color: $darkBlue;
}
h2{
    // padding:40px 0 12px 0;
    font-size: 2em;
    color: $darkBlue;
}
h3{
    // padding:28px 0 8px 0;
    line-height:1.3em;
    font-size: 1.5em;
    color:$darkBlue;
}
h4{
    // padding-top:0;
    // padding-bottom:4px;
    font-size: 1.3em;
    text-transform: uppercase;
    color:$grayLight;
}
hr{
    margin:40px 0;
}
// h4+h1,
// h1+h4,
// h2+h3,
// h4+h2{
//     margin-top:-10px;
// }
p, ul, ol{
    color: $grayDark;
    font-size:18px;
    line-height: 1.625em;
}
strong{
    color:$darkBlue;
}
a{
    color:$blue;
}
blockquote{
    font-weight:200;
    line-height: 1.2em;
    color:$darkBlue;
    font-size:20px;
    margin:20px 0;
}


.container {
    &-wide{
        max-width: 800px;
    }
    &-full{
        width:100%;
        max-width: none;
        margin:0;
        padding:0;
    }
    &-small{
        max-width:640px;
    }
}
.home{
    background-color: #e9eaed;
    height:100%;
    min-height:900px;
    width:100%;
}



.icon{
    &.icon-lg{
        font-size:40px;
        line-height: 99px;
        height:100px;
        width:100px;
        margin:0 auto;
        padding: 0;
        color: $blue;
        border: 2px solid $blue;
        border-radius: 50%;
        i{
            text-align: center;
            margin: 0 auto;
        }
    }
}
.inline-i{
    margin-right: 5px;
}


.embed-responsive{
    margin:20px 0;
}

.chart {
    width: 100%;
    margin-bottom: 0.5em;
    font-family:$sans!important;
}
.chart-line{
    height:240px;
}
.chart-donut{
    height:100px;
}
.source{
     font-size:0.8em;
    margin-bottom:10px;
}

article.panelPost{
        width:100%;
    }
@media screen and (min-width: 480px){
    article.panelPost{
        width:240px;
    }
    

}

// Components
@import "components/jumbo";
@import "components/card";
@import "components/cover";
@import "components/heroWidget";
@import "components/navBar";
@import "components/button";
@import "components/footer";
@import "components/grid";
@import "components/stat";
// @import "components/_navTabs";


// Pages
@import "pages/post";
@import "pages/trends";


//helpers
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

//Images
.img-feed{
    height: 64px;
    width: 64px;
    border-radius:32px;
}
.img-trend{
    padding:40px 0;
}
.img-bordered{
    border:1px solid rgba(0,0,0,0.15);
}
.miframe{
    width: 100%;
    min-height: 215px;
}
.green{
    color: $green;  
}
//Lazy Load with Unveil.js
.lazy {
  opacity: 0;
  transition: opacity .3s ease-in;
} 
.section-trend{
    padding:40px 0;
    p{
        font-size:17px;
        line-height: 1.7em;
    }
}
.placeholder{
    width:100%;
    height:100px;
    background-color:$gray;
}

hr.hr-small{
    margin:20px 0;
}
